{% load static %}
<div class="row question answers">
    <div class="col-3">
        {% if answer.author.avatar %}
        <img class="rounded w-75 mx-auto d-block mb-4 mt-2 " src="{{ answer.author.avatar.url }}" style="margin-left: auto; max-height: 100px" alt="Avatar">
        {% else %}
        <img src="{% static '/img/icon_1.png' %}" alt="" class="question_image">
        {% endif %}
        <div>User: {{ answer.author.user.first_name }}</div>
        {% if request.user.profile.id in answer.check_rating %}
        <div class="btn-group">
            <button class="btn btn-danger vote unvoted" data-id="{{ answer.id }}" data-type="answer"
                    type="submit"><i class="fa fa-thumbs-o-down"></i></button>
            <span class="btn bg-warning counter">{{ answer.rating_count }}</span>
        </div>
        {% else %}
        <div class="btn-group">
            <button class="btn btn-success vote voted" data-id="{{ answer.id }}" data-type="answer"
                    type="submit"><i class="fa fa-thumbs-o-up"></i></button>
            <span class="btn btn-info counter">{{ answer.rating_count }}</span>
        </div>
        {% endif %}
    </div>
    <div class="col-9">
        <div class="question-title"></div>
        <div class="question-text">{{ answer.body }}
            <br>
            <div class="form-check">
                <div class="list-group-item list-group-item-success" {% if not belonging %}
                     style="pointer-events: none;" {% endif %}>
                    <input class="form-check-input list correctness"
                           type="checkbox"
                           value="1"
                           id="{{ forloop.counter }}Checkbox"
                           {% if answer.correctness %}checked{% endif %}
                           data-answer-id="{{ answer.id }}"
                           data-question-id="{{ question.id }}"
                    />
                    <label class="form-check-label" for="{{ forloop.counter }}Checkbox">Right</label>

                </div>
            </div>
        </div>
    </div>
</div>