{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<h1>Question</h1>
<br>
{% include 'components/question_item.html'%}
<br>
<h2>Answers</h2>

{% for answer in items %}
{% include 'components/answer_item.html' %}
{% endfor %}


{% include 'components/paginator.html' %}


{% if request.user.is_authenticated %}
<h3 class="h3 text-center headers mt-5">Your answer</h3>
<hr/>

    <form method="post">
    {% bootstrap_form form %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Ask!</button>
</form>
{% endif %}
<br>

{% if not request.user.is_authenticated %}
<div class="border border-warning rounded p-3">
    <h3 class="h4 text-center ">Please, authorize to add an answer!</h3>
</div>
<div class="m-3 text-center">
    <a href="{% url 'login' %}?continue={{ request.path }}?{{ request.GET.urlencode }}">
        <p>Login!</p>
    </a>
    <span>&nbsp;</span>
    <a href="{% url 'signup' %}?continue={{ request.path }}?{{ request.GET.urlencode }}">
        <p>Sign up!</p>
    </a>
</div>
{% endif %}
<br>

{% endblock %}

