{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1>Question</h1>
<br>
{% include 'components/question_item.html'%}
<br>
<h2>Answers</h2>

{% for answer in items %}
{% include 'components/answer_item.html'%}
{% endfor %}
<br>

<div class="input-group">
    <span class="input-group-text">Enter your answer</span>
    <textarea class="form-control" id="Textarea" aria-label="With textarea"></textarea>
</div>
<br>
<button type="button" class="btn btn-secondary">Answer</button>

{% include 'components/paginator.html' %}

{% endblock %}

